<div class="col-xs-8">
    <table class="table table-striped" border="0" cellspacing="5" cellpadding="5">
        <tr>
            <th>Sl #</th>
            <th>Title</th>
            <th>Photo</th>
            <th>City</th>
            <th>Power</th>
            <th>Movies Acted</th>
            <th>Power</th>
            <th>View Movies</th>
        </tr>
        <tr ng-repeat="hero in heroes">
            <td>{{hero.id}}</td>
            <td>{{hero.title}}</td>
            <td>{{hero.photo}}</td>
            <td>{{hero.city}}</td>
            <td>{{hero.power}}</td>
            <td>{{hero.power}}</td>
            <td>{{hero.movies}}</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>