<div class="col-xs-4">
    <div class="page-heading">
        <h1>
            Add Movie
        </h1>
    </div>
    <form>
        <div class="form-group">
            <label for="ti1">Movie Title</label>
            <input class="form-control" type="text" ng-model="title" id="ti1"/>
        </div>
        <div class="form-group">
            <label for="ti2">Movie Poster</label>
            <input class="form-control" type="text" ng-model="poster" id="ti2"/>
        </div>
        <div class="form-group">
            <input ng-click="addMovie()" value="Add Movie" class="btn btn-primary" type="submit"/>
        </div>
    </form>
</div>
<div class="col-xs-8">
    <div class="page-heading">
        <h1>
            Movies Listed
        </h1>
    </div>
    <span>Got the hero id : {{heroId}}</span>
    <table class="table table-bordered">
        <tr>
            <th>Sl #</th>
            <th>Title</th>
            <th>Poster</th>
        </tr>
        <tr data-ng-repeat="movie in movies">
            <td>{{movie.sl}}</td>
            <td>{{movie.title}}</td>
            <td><img data-ng-src="{{movie.poster}}"/></td>
        </tr>
    </table>
    <button class="btn btn-info" data-ng-click="goBack()">Go Back</button>
</div>